#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 6;

    background-color: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 38px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 28px;
      line-height: 32px;
      margin-top: 10px;
      color: #f8f8f8;
    }
    a {
      text-decoration: none; 
      color: #f8f8f8;
      font: 700 12pt 'Poppins', sans-serif;
      transition: 0.2s;
      &:hover {
        text-decoration: #a559f9 underline;
        color: #a559f9;
      }
    }
    span {
      position: fixed;
      bottom: 10px;
      text-align: center;
      align-self: center;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      width: 80%;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background-color: #fff;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        text-decoration: none;
        color: #a559f9;
        transition: 0.2s;
        &:hover {
          text-decoration: #a559f9 underline;
        }
      }
    }
  }

  .create-room {
    margin-top: 32px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    transition: 0.3s;

    img {
      margin-right: 8px;
    }
    &:hover {
      filter: brightness(0.8);
      transform: scale(1.03);
    }
    &:active {
      filter: brightness(1.18);
      transform: scale(0.97);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 16px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }


  .profile {
    position: fixed;
    right: 40px;
    top: 0;

    span {
      color: #737380;
      font: 500 12pt 'Poppins', sans-serif;
    }
  }

}